<li>
  <%= link_to quiz.title, edit_quiz_path(quiz) %>
  <% if current_user.admin?  %>
    | <%= link_to "delete", quiz, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %> 
</li>
