<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  The Roche Pursuit is developed&maintained by
  <address>
     <a href="mailto:selim_l.hendrickson@roche.com">Selim Hendrickson</a>
  </address>
</p>
