<div class="center hero-unit">
  <h1>Welcome to the Roche Pursuit</h1>

  <h2>
    This is the home page for the Roche Pursuit
  </h2>

  <%= link_to "sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Hoffmann-La_Roche_logo.svg", alt: "F. Hoffman-La Roche"), 'http://roche.com' %>

